{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('react_mui') }}
{% endblock %}
{% block javascripts %}
    <!--java script-->
    {{ encore_entry_script_tags('react_mui') }}
{% endblock %}


{% block main %}
    <h2>React Mui</h2>
    <div id="react-mui"></div>
{% endblock %}
